<h1><i>This page displays info for:</i> <%= @power.name %></h1>

<h3><i>Here's a description of this power:</i> <%=@power.description %></h3>


<!-- <h3><i>Here's a description of this power:</i> <%# link_to @power.description, @power %></h3> -->
